.App {
  font-family: sans-serif;
  text-align: center;
}
.Grid {
  justify-content: center;
  display: flex;
  width: 100%;
  height: 100%;
  column-gap: 20%;
}

.grid_item {
  padding: 25px;
  background-color: salmon;
  border-radius: 30px;
}
